doctype html
html(lang='en')
    head
        // ========== Meta Tags ==========
        meta(charset='UTF-8')
        meta(name='description', content='Cocoon -Portfolio')
        meta(name='keywords', content='Cocoon , Portfolio')
        meta(name='author', content='Pharaohlab')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // ========== Title ==========
        title Contacto
        // ========== Favicon Ico ==========
        // <link rel="icon" href="fav.ico">
        // ========== STYLESHEETS ==========
        // Bootstrap CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        // Fonts Icon CSS
        link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
        link(href='stylesheets/et-line.css', rel='stylesheet')
        link(href='stylesheets/ionicons.min.css', rel='stylesheet')
        // Carousel CSS
        link(href='stylesheets/slick.css', rel='stylesheet')
        // Magnific-popup
        link(rel='stylesheet', href='stylesheets/magnific-popup.css')
        // Animate CSS
        link(rel='stylesheet', href='stylesheets/animate.min.css')
        // Custom styles for this template
        link(href='stylesheets/main.css', rel='stylesheet')
    body
        .loader
            .loader-outter
            .loader-inner
        .body-container.container-fluid
            a.menu-btn(href='javascript:void(0)')
                i.ion.ion-grid
            .row.justify-content-center
                // =================== side menu ====================
                .col-lg-2.col-md-3.col-12.menu_block(style='background: black')
                    // logo
                    .logo_box
                        a(href='/home/#{datos[0].idPrimerParticipante}')
                            img(src='images/logo.png', alt='cocoon')
                    // logo end
                    // main menu
                    .side_menu_section
                        ul.menu_nav
                            li
                                a(href='/home/#{datos[0].idPrimerParticipante}' ) Home 
                            li.active
                                a(href='/getCertificados/#{datos[0].idPrimerParticipante}' ) Certificados
                            li
                                a(href='/transacciones/#{datos[0].idPrimerParticipante}' ) Transacciones
                    .side_menu_section
                        ul.menu_nav
                           
                            li
                                a(href='/login' onClick="return confirm('¿Está seguro que desea cerrar sesión?');" ) Log Out  
                
                    // main menu end
                    // =================== side menu end====================
                    // =================== content body ====================
                .col-lg-10.col-md-9.col-12.body_block.align-content-center
                    div
                        .img_card
                            .row.justify-content-center
                                .col-md-6.col-7.content_section
                                    // =================== contact info and form start====================
                                    .content_box
                                        .content_box_inner
                                            div
                                                h1 Certificados
                                                a.btn.btn-show(href="/newCertificado/#{datos[0].idPrimerParticipante}&#{certificados[certificados.length-1].idcertificados}") Nuevo Certificado
                                                table.table.dark-table(style="color:black;")
                                                    thead
                                                        th 
                                                            center Código único
                                                        th 
                                                            center Nombre responsable
                                                        th 
                                                            center Verificado
                                                        th 
                                                            center Detalles
                                                    tbody
                                                        for items in datos
                                                            tr
                                                                td= items.idcertificados
                                                                td= items.nombreRepresentante
                                                                if items.verificacion==0
                                                                    td No
                                                                else
                                                                    td Si
                                                                
                                                                td
                                                                    a.btn.btn-show(href="/detailCertificado/#{items.idcertificados}") Go
                                                        
                                .col-md-6.col-5.img_section(style="background-image: url('images/bg/gracias.png');")
                                   
                                

        script(src='javascripts/jquery.min.js')
        // bootstrap
        script(src='javascripts/popper.js')
        script(src='javascripts/bootstrap.min.js')
        script(src='javascripts/waypoints.min.js')
        // slick carousel
        script(src='javascripts/slick.min.js')
        // Portfolio Filter
        script(src='javascripts/imgloaded.js')
        script(src='javascripts/isotope.js')
        // Magnific-popup
        script(src='javascripts/jquery.magnific-popup.min.js')
        // Counter
        script(src='javascripts/jquery.counterup.min.js')
        // WOW JS
        script(src='javascripts/wow.min.js')
        // map
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAuahgsm_qfH1F3iywCKzZNMdgsCfnjuUA')
        // Custom js
        script(src='javascripts/main.js')